body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-main {
    flex: 1;
}


[data-theme=light] {
    --p: 0 0% 32%;
    --pf: 0 0% 45.1%;
}

[data-theme=dark] {
    --p: 222 13.4% 19%;
    --pf: 223 13.7% 10%;
}

.stats .stat {
    border-width: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.hover\:.bg-base-100:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1))
}

.hover\:.bg-base-200:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)))
}

.hover\:bg-base-300:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3, var(--b2)));
}