<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$plugin.title} - {$app.title}</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="{$plugin.title},{$app.keywords}">
    <meta name="description" content="{$plugin.desc}">
    <meta name="author" content="Pluto" />
    <style>
        *{
            margin: 0;
        }
    </style>
</head>
<body>
<iframe src="{$plugin.config->url}" frameborder="0" width="100%" height="100%"></iframe>
{include file="layout/plugin_record" /}
</body>
</html>