.page-container[data-v-824a8884]{width:100%;border-radius:4px;padding:50px 0;height:100vh}.page-container .text-center h1[data-v-824a8884]{color:#666;padding:20px 0}.page-container img[data-v-824a8884]{width:350px;margin:0 auto}
