<footer class="p-10 footer bg-neutral text-neutral-content mt-4">
    <div>
        <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
             clip-rule="evenodd" class="fill-current">
            <path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
        </svg>
        <p>Copyright by &copy;{:date('Y')}, <a target="_blank" href="http://www.aoaostar.com">AOAOSTAR</a>.
        </p>
    </div>
    <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4">
            <a target="_blank" href="https://github.com/aoaostar/toolbox">
                <svg class="fill-current w-7 h-7" viewBox="0 0 1024 1024"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                </svg>
            </a>
            <a target="_blank" href="http://blog.aoaostar.com">
                <svg class="fill-current w-7 h-7" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1021.28864 435.2c-4.8-17.6-16-35.2-28.8-41.6-4.8-1.6-30.4-4.8-57.6-6.4-46.4-1.6-51.2-3.2-65.6-11.2-22.4-12.8-28.8-27.2-28.8-67.2 0-75.2-32-145.6-92.8-208-44.8-44.8-92.8-75.2-150.4-92.8-12.8-4.8-43.2-4.8-144-6.4-158.4-1.6-193.6 1.6-248 22.4C106.08864 62.4 34.08864 147.2 8.48864 252.8 3.68864 273.6 2.08864 305.6 0.48864 491.2c-1.6 232 0 265.6 16 312 11.2 38.4 24 60.8 48 94.4 48 62.4 118.4 108.8 188.8 121.6 35.2 4.8 451.2 6.4 494.4 1.6 73.6-9.6 132.8-40 187.2-96 40-40 64-84.8 80-142.4 6.4-24 8-35.2 8-177.6 1.6-105.6 1.6-156.8-1.6-169.6z m-736-144c17.6-17.6 22.4-19.2 134.4-19.2 100.8 0 104 0 118.4 8 20.8 11.2 30.4 25.6 30.4 49.6 0 22.4-8 36.8-28.8 49.6-9.6 6.4-16 6.4-115.2 8-60.8 0-108.8-1.6-116.8-3.2-36.8-11.2-49.6-65.6-22.4-92.8z m438.4 456l-33.6 4.8-177.6 3.2c-155.2 1.6-200-1.6-208-4.8-16-6.4-32-27.2-33.6-44.8-3.2-16 6.4-40 19.2-51.2 16-14.4 24-14.4 222.4-16 204.8 0 203.2 0 222.4 17.6 27.2 27.2 20.8 72-11.2 91.2z"></path>
                </svg>
            </a>
            <a target="_blank" href="http://t.me/aoaostar">
                <svg class="fill-current w-7 h-7" viewBox="0 0 1024 1024"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M679.428571 746.857143l84-396q5.142857-25.142857-6-36t-29.428571-4L234.285714 501.142857q-16.571429 6.285714-22.571428 14.285714t-1.428572 15.142858 18.285715 11.142857l126.285714 39.428571 293.142857-184.571428q12-8 18.285714-3.428572 4 2.857143-2.285714 8.571429l-237.142857 214.285714-9.142857 130.285714q13.142857 0 25.714285-12.571428l61.714286-59.428572 128 94.285715q36.571429 20.571429 46.285714-21.714286z m344.571429-234.857143q0 104-40.571429 198.857143t-109.142857 163.428571-163.428571 109.142857-198.857143 40.571429-198.857143-40.571429-163.428571-109.142857-109.142857-163.428571T0 512t40.571429-198.857143 109.142857-163.428571T313.142857 40.571429 512 0t198.857143 40.571429 163.428571 109.142857 109.142857 163.428571 40.571429 198.857143z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</footer>
<button onclick="scrollTopSmooth(0)" class="btn btn-circle fixed bottom-10 right-10 invisible md:w-14 md:h-14"
        id="back-to-top">
    <svg class="fill-current w-6 h-6" viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"/>
    </svg>
</button>
<script>

    window.onscroll = function () {
        const scrollTop = document.documentElement.scrollTop ?
            document.documentElement.scrollTop :
            document.body.scrollTop;
        const dom = document.getElementById('back-to-top')
        if (dom) {
            if (scrollTop > 200) {
                dom.style.visibility = "visible"
            } else {
                dom.style.visibility = "hidden"
            }
        }
    }

    window.addEventListener("keydown", (e) => {
        if (e.code === 'F3' || ((e.ctrlKey || e.metaKey) && e.code === 'KeyF')) {
            e.preventDefault();
            document.querySelector('#search')?.focus()
        }
    })
</script>
{$app.foot_code|raw}