<div class="navbar mb-2 shadow-lg  text-base-content">
    <div class="flex-1 px-2 mx-2">
        <a class="btn btn-ghost btn-sm rounded-btn text-lg font-bold" href="/">
            {$app.title}
        </a>
    </div>
    <div class="flex-none hidden px-2 mx-2 lg:flex">
        <div class="flex items-stretch">
            <a href="/stars" class="btn btn-ghost btn-sm rounded-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-5 mr-2 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                </svg>
                Stars
            </a>
            <a target="_blank" href="https://t.me/aoaostar" class="btn btn-ghost btn-sm rounded-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-5 mr-2 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                </svg>
                Chat
            </a>
            <div title="Change Theme" class="dropdown dropdown-end">
                <div tabindex="0" class="btn-ghost btn btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-5 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"></path>
                    </svg>
                    <span class="hidden md:inline">Change Theme</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
                         class="inline-block w-5 mr-2 ml-1 fill-current">
                        <path d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"></path>
                    </svg>
                </div>
                <div class="mt-16 overflow-y-auto shadow-2xl top-px dropdown-content h-96 w-52 rounded-b-box bg-base-200 text-base-content">
                    <ul class="p-4 menu compact">
                        <li><a tabindex="0" data-set-theme="light" data-act-class="active">🌝 light</a></li>
                        <li><a tabindex="0" data-set-theme="dark" data-act-class="active">🌚 dark</a></li>
                        <li><a tabindex="0" data-set-theme="cupcake" data-act-class="active">🧁 cupcake</a></li>
                        <li><a tabindex="0" data-set-theme="bumblebee" data-act-class="active">🐝 bumblebee</a></li>
                        <li><a tabindex="0" data-set-theme="emerald" data-act-class="active">✳ Emerald</a></li>
                        <li><a tabindex="0" data-set-theme="corporate" data-act-class="active">🏢 Corporate</a></li>
                        <li><a tabindex="0" data-set-theme="synthwave" data-act-class="active">🌃 synthwave</a></li>
                        <li><a tabindex="0" data-set-theme="retro" data-act-class="active">👴 retro</a></li>
                        <li><a tabindex="0" data-set-theme="cyberpunk" data-act-class="active">🤖 cyberpunk</a></li>
                        <li><a tabindex="0" data-set-theme="valentine" data-act-class="active">🌸 valentine</a></li>
                        <li><a tabindex="0" data-set-theme="halloween" data-act-class="active">🎃 halloween</a></li>
                        <li><a tabindex="0" data-set-theme="garden" data-act-class="active">🌷 garden</a></li>
                        <li><a tabindex="0" data-set-theme="forest" data-act-class="active">🌲 forest</a></li>
                        <li><a tabindex="0" data-set-theme="aqua" data-act-class="active">🐟 aqua</a></li>
                        <li><a tabindex="0" data-set-theme="lofi" data-act-class="active">👓 lofi</a></li>
                        <li><a tabindex="0" data-set-theme="pastel" data-act-class="active">🖍 pastel</a></li>
                        <li><a tabindex="0" data-set-theme="fantasy" data-act-class="active">🧚‍♀ fantasy</a></li>
                        <li><a tabindex="0" data-set-theme="wireframe" data-act-class="active">📝 Wireframe</a></li>
                        <li><a tabindex="0" data-set-theme="black" data-act-class="active">🏴 black</a></li>
                        <li><a tabindex="0" data-set-theme="luxury" data-act-class="active">💎 luxury</a></li>
                        <li><a tabindex="0" data-set-theme="dracula" data-act-class="active">🧛‍♂ dracula</a></li>
                        <li><a tabindex="0" data-set-theme="cmyk" data-act-class="active">🖨 CMYK</a></li>
                    </ul>
                </div>
            </div>
            {if(is_login())}
            <div class="dropdown dropdown-end">
                <a tabindex="0" class="btn btn-ghost btn-sm rounded-btn ">
                    <div class="avatar mr-2">
                        <div class="rounded-full w-6 h-6">
                            <img src="{$user->avatar_url}" alt="">
                        </div>
                    </div>
                    {$user->username}
                </a>
                <ul tabindex="0"
                    class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-48 text-base-content">
                    {if(is_admin())}
                    <li>
                        <a target="_blank" href="{:get_master_path()}">管理后台</a>
                    </li>
                    {/if}
                    <li>
                        <a href="/auth/logout">注销登录</a>
                    </li>
                </ul>
            </div>
            {else}
            <a href="/auth/login" class="btn btn-ghost btn-sm rounded-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-5 mr-2 stroke-current" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"/>
                </svg>
                Login
            </a>
            {/if}
        </div>
    </div>
    <div class="flex-none lg:hidden">
        <div class=" dropdown dropdown-end">
            <button tabindex="0" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
            <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-48 text-base-content">
                <a href="/stars" class="btn btn-ghost btn-sm rounded-btn justify-start order-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-5 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                    </svg>
                    Stars
                </a>
                <a  target="_blank" href="https://t.me/aoaostar" class="btn btn-ghost btn-sm rounded-btn justify-start order-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-5 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                    </svg>
                    Chat
                </a>
                {if(is_login())}
                <button class="btn btn-ghost btn-sm rounded-btn justify-start order-1">
                    <div class="avatar mr-2">
                        <div class="rounded-full w-6 h-6">
                            <img src="{$user->avatar_url}" alt="">
                        </div>
                    </div>
                    {$user->username}
                </button>
                {if(is_admin())}
                <a href="{:get_master_path()}" class="btn btn-ghost btn-sm rounded-btn justify-start order-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-5 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                    </svg>
                    管理后台
                </a>
                {/if}
                <a href="/auth/logout" class="btn btn-ghost btn-sm rounded-btn justify-start order-last">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-5 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />

                    </svg>
                    注销登录
                </a>
                {else}
                <a href="/auth/login" class="btn btn-ghost btn-sm rounded-btn justify-start order-2">
                    <svg class="inline-block w-5 mr-2 stroke-current" viewBox="0 0 1024 1024"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M506.88 622.528a35.84 35.84 0 0 0 25.408 61.376c9.216 0 18.56-3.52 25.536-10.496L693.632 537.6c14.08-14.08 14.08-37.12 0-51.2L557.76 350.72a35.904 35.904 0 0 0-50.944 0 35.904 35.904 0 0 0 0 50.88l74.304 74.24-481.088 0.192a35.968 35.968 0 1 0 0 72.064l481.088 0.128-74.24 74.24z"
                        ></path>
                        <path d="M925.248 337.728A447.04 447.04 0 0 0 690.56 99.2 432.832 432.832 0 0 0 518.72 64a431.872 431.872 0 0 0-199.296 48.128 445.44 445.44 0 0 0-151.936 128.768 31.744 31.744 0 0 0 5.824 44.16 30.656 30.656 0 0 0 43.456-6.016A383.744 383.744 0 0 1 347.52 168.384a370.304 370.304 0 0 1 171.2-41.408c51.2 0 100.8 10.176 147.52 30.208a376.96 376.96 0 0 1 120.576 82.56A387.008 387.008 0 0 1 897.92 512c0 51.904-9.984 102.272-29.696 149.76a383.36 383.36 0 0 1-201.856 204.864 369.92 369.92 0 0 1-147.648 30.272 370.56 370.56 0 0 1-171.392-41.472 384.576 384.576 0 0 1-130.752-110.72 30.72 30.72 0 0 0-43.456-5.888 31.808 31.808 0 0 0-5.824 44.096 446.72 446.72 0 0 0 152.128 128.768 431.872 431.872 0 0 0 199.296 48.128c59.52 0 117.376-11.776 171.776-35.2a446.912 446.912 0 0 0 234.88-238.336C948.416 631.232 960 572.48 960 512c0-60.48-11.648-119.168-34.752-174.272z"
                        ></path>
                    </svg>
                    Login
                </a>
                {/if}
            </ul>
        </div>
    </div>
</div>