<html data-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="{$app.keywords}">
    <meta name="description" content="{$app.description}">
    <meta name="author" content="Pluto"/>

    <link href="{:cdnjs_cdn()}/daisyui/2.42.1/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="{:cdnjs_cdn()}/limonte-sweetalert2/11.6.15/sweetalert2.all.min.js"></script>
    <script src="{:cdnjs_cdn()}/vue/2.7.14/vue.min.js"></script>
    <script src="{:cdnjs_cdn()}/axios/1.2.1/axios.min.js"></script>
    <script src="{:cdnjs_cdn()}/core-js/3.26.1/minified.min.js"></script>

    <script src="/static/http.js?v={:get_version()}"></script>
    <script src="/static/common.js?v={:get_version()}"></script>
    <script src="/static/api.js?v={:get_version()}"></script>
    <script src="/static/lib/tailwindcss/3.2.4/full.js"></script>
    <link rel="stylesheet" href="/static/style.css?v={:get_version()}">
    {block name="head"}{/block}
</head>
<body>
<div class="site-main">
    {include file="layout/header" /}
    {block name="main"}主内容{/block}
</div>
<div class="site-footer">
    {include file="layout/footer" /}
</div>
<script src="/static/lib/theme-change/2.0.2/index.js"></script>
{block name="footer"}主内容{/block}
</body>
</html>